<!-- header -->
<nav class="navbar fixed-top shadow-sm" style="background-color: #60B8C4;">
    <div class="container-fluid">
        <img src="assets/Black_and_Green_Modern_Automotive_Logo-removebg-preview.png" alt="" width="115px" height="80px" alt="" class="logo">
        <button class="navbar-toggler btn-toggle text-white" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">GULEL'S CART</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <button class="btn btn-lg d-block m-0 btn-article">Se deconnecter</button>
            </div>
        </div>
    </div>
</nav>
<div></div>
<br><br><br>

<div class="cartes">
    <div class="container mt-5">
        <button class="btn btnAjout mb-5 text-white" data-bs-toggle="modal" data-bs-target="#modalAjoutVoiture">Ajouter Voiture</button>
        <div class="row row-gap-4">
            <div class="col-md-4 col-12 " *ngFor="let voiture of voitures ">
                <div class="card container-card">
                    <div class="wrapper">
                        <div class="banner-image"> <img src="{{voiture.image}}" alt=""></div>
                        <h3 class="text-dark"> {{voiture.marque}}</h3>
                        <p class="text-dark">{{voiture.description}}</p>
                    </div>
                    <div class="button-wrapper">
                        <button class="btn fill"  data-bs-toggle="modal" data-bs-target="#modalmodifVoiture"  (click)="chargerInfo(voiture.idVoiture)">MODIFIER</button>
                        <button class="btn outline " (click)="suppression(voiture.idVoiture)">SUPPRIMER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal pour ajouter-->
<div class="modal fade" id="modalAjoutVoiture" tabindex="-1" aria-labelledby="modalAjoutVoitureLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter Voiture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-4">
                        <label for="inputImage" class="form-label fw-bold">Image</label>
                        <input type="text" name="imageUrl" class="form-control" id="inputImage" placeholder="Entrez l'url d'une image"
                            [(ngModel)]="imageUrl">
                    </div>
                    <div class="mb-4">
                        <label for="inputMarque" class="form-label fw-bold">Marque</label>
                        <input type="text" name="marque" class="form-control" id="inputMarque" placeholder="Entrez le marque"
                            [(ngModel)]="marque">
                    </div>
                    <div class="mb-4">
                        <label for="inputDescription" class="form-label fw-bold">Description</label>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="description" name="description" id="description"
                                [(ngModel)]="description"></textarea>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="inputPrix" class="form-label fw-bold">Prix</label>
                        <input type="text" name="prix" class="form-control" id="inputprix" placeholder="Entrez le prix"
                            [(ngModel)]="prix">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary outline fw-bold" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn  btnAjout text-white"  data-bs-dismiss="modal" (click)="ajoutVoiture()">Ajouter</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal pour modifier-->
<div class="modal fade" id="modalmodifVoiture" tabindex="-1" aria-labelledby="modalmodifVoitureLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Voiture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-4">
                        <label for="inputImage" class="form-label fw-bold">Image</label>
                        <input type="text" name="imageUrl" class="form-control" id="inputImage" placeholder="Entrez l'url d'une image"
                            [(ngModel)]="imageUrl">
                    </div>
                    <div class="mb-4">
                        <label for="inputMarque" class="form-label fw-bold">Marque</label>
                        <input type="text" name="marque" class="form-control" id="inputMarque" placeholder="Entrez le marque"
                            [(ngModel)]="marque">
                    </div>
                    <div class="mb-4">
                        <label for="inputDescription" class="form-label fw-bold">Description</label>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="description" name="description" id="description"
                                [(ngModel)]="description"></textarea>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="inputPrix" class="form-label fw-bold">Prix</label>
                        <input type="text" name="prix" class="form-control" id="inputprix" placeholder="Entrez le prix"
                            [(ngModel)]="prix">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  outline fw-bold" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn  btnAjout text-white"  data-bs-dismiss="modal" (click)=" modifVoiture()">Modifier</button>
            </div>
        </div>
    </div>
</div>



